.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  transform: translate(0,-10%);
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 40px 30px;
  font-family: 'Poppins',sans-serif;
  letter-spacing: 0.7px;
}


.routes{
  margin-bottom: 6px;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 42px;
}

.route_active{
  color:rgb(23, 69, 168);
}

.social_link{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin:0 auto;
  width: 100%;
  border-radius: 6px;
  padding: 8px 10px;
  color: black;
  text-align: center;
}

.social_link:hover{
  background-color: lightgrey;
  transition: all ease 0.6s;
}


.error{
  color: rgb(197, 72, 72);
  font-size: 14px;
  margin-bottom: 7px;
}

label{
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

::placeholder{
  color: grey;
}

.divider{
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}


.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}

.divider span {
  padding: 0 5px;
  background-color: #fff;
}
