.post{
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
}

input{
	border: 1px solid black;
	padding: 5px 10px;
}
hr{
	height: 1px;
	background-color: rgba(0,0,0,0.4);
}
select{
	border: 1px solid teal;
}
.post-enter {
	transform: translateX(-350px);
}
.post-enter-active {
	transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
	opacity: 0;
	transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper{
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.page{
	padding: 8px;
	margin: 0 4px;
	border:1px solid teal;
	cursor: pointer;
}
.page__current{
	border: 2px solid orange;
	font-weight: bold;
}

.post__btns{
	display: flex;
}

.post__content{
	text-align: justify;
	margin-right: 10px;
}



